@model TicketTrader.Models.DisplaySelectedListingViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "ViewSelected";
}

<div class="panel panel-primary" id="selectedListing">
<div class="panel-heading">
    <h2>@Model.Listing.Title</h2>
    <h4>@Model.Event.Band.Name -- @Model.Event.Date, @Model.Event.Venue</h4>
    
    @if(@Model.Listing.Quantity == 1 && @Model.Listing.ListingTypeId == 1)
    {
        <h4>1 Ticket -- $@Model.Listing.Price</h4>
    }
    else if (@Model.Listing.Quantity > 1 && @Model.Listing.ListingTypeId == 1)
    {
        <h4>@Model.Listing.Quantity Tickets -- $@Model.Listing.Price</h4>
    }
    else
    {
        <h4>@Model.Listing.Quantity Tickets</h4>
    }
</div>

@if (Model.Listing == null)
{
    <div id="selectedBody" class="panel-body">
        <h3>Listing not found</h3>
    </div>
}
else
{
     <div id="selectedBody" class="panel-body">  
         <h4>
             @Model.Listing.Description
         </h4>
     </div> 
}
</div>

@if (User.Identity.GetUserId() != Model.Listing.UserId)
{
    if (@Model.Listing.ListingTypeId == 1)
    {
        @Html.ActionLink("Purchase Tickets", "Purchase", "Transaction", new { id = @Model.Listing.ListingId }, new { @class = "btn btn-default" })
        @Html.ActionLink("Back to List", "ViewListingsByEvent", "Listing", new { id = @Model.Listing.EventId }, new { @class="btn btn-default"})
    }
    else
    {
        <div>
            <div>
                <h5>Contact the user to make an offer on this listing:</h5>
                <textarea id="offerTextArea"></textarea>
            </div>

            <div>
                <button class="btn btn-primary">Send Offer</button>
                @Html.ActionLink("Back to List", "ViewListingsByEvent", "Listing", new { id = @Model.Listing.EventId }, new { @class = "btn btn-default" })
            </div>

            

        </div>
    }
}
else
{
            @Html.ActionLink("Back to List", "ViewListingsByEvent", "Listing", new { id = @Model.Listing.EventId }, new { @class="btn btn-default"})

}

