@model TicketTrader.Models.DisplayListingsViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "ViewSelected";
}

<div>
    <h2>@Model.Listings.First().Title</h2>
    <h4>@Model.Event.Band.Name -- @Model.Event.Date, @Model.Event.Venue</h4>
    
    @if(@Model.Listings.First().Quantity == 1)
    {
        <h4>1 Ticket</h4>
    }
    else
    {
        <h4>@Model.Listings.First().Quantity Tickets</h4>
    }
</div>

@if (Model.Listings == null)
{
    <div id="selectedBody">
        <h3>Listing not found</h3>
    </div>
}
else
{
     <div id="selectedBody">  
         <h4>
             @Model.Listings.First().Description
         </h4>
     </div> 
}

@if (User.Identity.GetUserId() != Model.Listings.First().UserId)
{
    if(@Model.Listings.First().ListingTypeId == 1)
    { 
        @Html.ActionLink("Purchase Tickets", "Purchase", "Transaction", new { id = @Model.Listings.First().ListingId }, new { @class = "btn btn-default" })
    }
    else
    {
        <div>
            <div>
                <h5>Contact the user to make an offer on this listing:</h5>
                <textarea id="offerTextArea">

                </textarea>
            </div>
            
            <div>
                <button class="btn btn-default">Send Offer</button>
            </div>
        </div>
    }
}


