@model IEnumerable<TicketTrader.Models.Event>

@{
    ViewBag.Title = "All Upcoming Events";
}

<h2>All Upcoming Events</h2>

<div id="eventSearch">
    <form method="get">
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search" class="btn btn-info" />
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Band.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Band.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        }
        <td>
            @Html.ActionLink("See listings for event", "ViewListingsByEvent", "Listing", new { id = item.EventId }, null)
        </td>
    </tr>
}

</table>
